<div class="navbar">
  <div class="container-flex">

    <nav>
      <div>
        <div class="nav-one">
          <li class="nav"><a href="/" aria-current="page">Home</a></li>
          <li class="nav"><a href="cat-photo-app/index.html">Cat Photo App</a></li>
          <li class="nav"><a href="cafe-menu/index.html">Cafe Menu</a></li>
          <li class="nav"><a href="set-of-colored-markers/index.html">Set of Colored Markers</a></li>
          <li class="nav"><a href="registration-form/index.html">Registration Form</a></li>
          <li class="nav"><a href="survey-form/index.html">ASecretSurvey</a></li>
        </div>

        <div class="nav-two">
          <li class="nav"><a href="rothko-painting/index.html">Rothko Painting</a></li>
          <li class="nav"><a href="photo-gallery/index.html">Photo Gallery</a></li>
          <li class="nav"><a href="nutrition-label/index.html">Nutrition Label</a></li>
          <li class="nav"><a href="quiz/index.html">Quiz</a></li>
          <li class="nav"><a href="tribute-page/index.html">Tribute Page</a></li>
        </div>

        <div class="nav-three">
          <li class="nav"><a href="balance-sheet/index.html">I Balance Sheet</a></li>
          <li class="nav"><a href="picasso-painting/index.html">Picasso Painting</a></li>
          <li class="nav"><a href="piano/index.html">Piano</a></li>
          <li class="nav"><a href="technical-documentation/index.html">Technical Documentation Page</a></li>
        </div>

        <div class="nav-four">
          <li class="nav"><a href="city-skyline/index.html">City Skyline</a></li>
          <li class="nav"><a href="magazine/index.html">Magazine</a></li>
          <li class="nav"><a href="product-landing-page/index.html">Product Landing Page</a></li>
        </div>
        <div class="nav-five">
          <li class="nav"><a href="ferris-wheel/index.html">Ferris Wheel</a></li>
          <li class="nav"><a href="penguin/index.html">Penguin</a></li>
          <li class="nav"><a href="personal-portfolio-webpage/index.html">Personal Portfolio Webpage</a></li>
        </div>
        </ul>
    </nav>

  </div>
</div>